@import "../../../../../styles/Functions.module.scss";
@import "../../../../../components/reusable/BlueButton/BlueButton.module.scss";


@mixin inputStyle {
  &>div {
    border-radius: var(--var-border-radius-large);
  }

  margin: .8em 0;
  border-radius: var(--var-border-radius-large) !important;
}

@mixin SubmitButton {
  @include Button();
  background-color: var(--var-byzantine-blue);
  color: var(--var-blue-white);
}

.Form {
  padding: 2em;
  overflow: auto !important;
  min-width: 30em;

  @media screen and (max-width: 450px) {
    padding: 2em;
    min-width: 100%;
  }

  .Title {
    text-align: center;
    color: var(--var-space-cadet);
    font-size: var(--var-font-size-large);
    font-weight: bold;
    margin: 0.5em 0;
    font-family: Kalameh, sans-serif !important;
  }


  .FormInput {
    background-color: #f9f8f885;
    @include inputStyle;

  }
}

.changePassText {
  color: var(--var-byzantine-blue);
  font-size: var(--var-font-size-small);
  margin-bottom: 1em !important;
}

.ChangeButton {
  @include ButtonBase;

}

.LeftButton {
  @include ButtonBase;
  box-shadow: none !important;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 1.5em;
}