@import "../../../../../../styles/Functions.module.scss";

.fixedPasswordContainer {
  @include container;

  .primaryButton {
    @include primaryButton
  }

  .register {
    font-size: var(--var-font-size-normal) !important;
    color: var(--var-space-cadet) !important;

    span {
      color: var(--var-dark-byzantine-blue) !important;
      margin: 0 .4em;
      font-size: var(--var-font-size-normal) !important;
      cursor: pointer;

      @media screen and (max-width:465px) {
        font-size: var(--var-font-size-small) !important;
      }
    }

    @media screen and (max-width:465px) {
      font-size: var(--var-font-size-small) !important;
    }
  }
}