:root {
    --var-green: #04AA6D;
    --var-white: #fff;
    --var-black: #323130;
    --var-blue-white: #F9F9FF;
    --var-solid-green: #4FC451;
    --var-white-smoke: #F5F5F5;
    --var-mountain-meadow: #01BA94;
    --var-title: #02332c;
    --var-medium-jungle-green: #0a4158;
    --var-wintergreen-dream: #4B8378;
    --var-deep-saffron: #FF9636;
    --var-scallop-seashell: #E4D7D0;
    --var-middle-blue: #5cd4ed;
    --var-cosmic-cobalt: #3e3087;
    --var-marengo: #5D6070;
    --var-light-marengo: #808398;
    --var-platinum: #E5E5E5;
    --var-space-cadet: #1D2954;
    --var-space-cadet-light: #1D295480;
    --var-dark-space-cadet: #141a38;
    --var-googooli: #9B8DEB;
    --var-byzantine-blue: #555fd8;
    --var-dark-byzantine-blue: #5433d6;
    --var-text-secondary: #959494;
    --var-Light-cyan: #D0F0F2;
    --var-blue-bell: #9F9DD6;
    --var-light-salmon-pink: #FCA5A4;
    --var-tropical-indigo: #777fe0;
    --var-Squid-ink: #2D394B;
    --var-davys-gray: #555;
    --var-comment-form: #fffdfd;

    --var-border-radius: 6px;
    --var-border-radius-large: 10px;


    --var-font-size-small: 1em;
    --var-font-size-normal: 1.2em;
    --var-font-size-large: 1.4em;

    --var-font-weight: bolder;
}